.social-media-share-button {
  cursor: pointer;
}

.social-media-share-button.facebook {
  background: $socialMediaFacebookBackgroundColor;
}

.social-media-share-button.twitter {
  background: $socialMediaTwitterBackgroundColor;
}

.social-media-share-button-text {
  font-size: 15px;
  font-weight: 500;
  color: $invertedFontColor;
}

.referral-url-copy-button {
  background: $referralUrlCopyButtonBackgroundColor;
  border-radius: 4px;
  margin-top: 15px;
  text-align: center;
  box-shadow: $referralUrlCopyButtonBoxShadow;
  overflow-x: hidden;
  transition: all 0.05s ease;
  cursor: pointer;
}

.referral-url-copy-button-header {
  font-size: 14px;
  line-height: 34px;
  color: $referralUrlCopyButtonHeaderColor;
}

.referral-url-copy-button-header:hover {
  background: $referralUrlCopyButtonHoverBackgroundColor;
}

.referral-url-copy-button-header:active {
  background: $referralUrlCopyButtonActiveBackgroundColor;
}

.referral-url-copy-button-text {
  width: 360px;
  padding: 10px 0 10px 10px;
  border: 1px solid $invertedFontColor;
  font-size: 16px;
  cursor: text;
  outline: none;
}

.referral-url-copy-button-text:active,
.referral-url-copy-button-text:focus {
  border: 1px solid $referralUrlCopyButtonHeaderColor;
}

.referral-view-text-link {
  text-align: center;
  font-size: 12px;
  color: $secondaryTextButtonMainFontColor;
  cursor: pointer;
  transition: all 0.15s ease;
}

.referral-view-text-link:hover,
.referral-view-text-link:active {
  color: $websiteMainColorDarker;
}
