/* ----- Variables ----- */

$fontFamily: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
$fontColor: #303030;
$fontColorLight: #5d5d5d;

$websiteMainColorLighter: #00b8c2;
$websiteMainColor: #617186;
$websiteMainColorDarker: #405059;

$hyperlinkColor: #8ccfc9;
$secondaryTextColor: $websiteMainColor;
$secondaryTextButtonMainFontColor: #626262;
$textButtonMainFontColor: #00949a;
$textButtonBackgroundColor: $websiteMainColorLighter;

$invertedFontColor: #ffffff;

$paymentModalBackgroundColor: #ffffff;
$paymentModalBoxShadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
$paymentModalHeaderDividerColor: rgba(0, 0, 0, 0.1);

$tagColor: #77a7ff;

$socialMediaFacebookBackgroundColor: #3a5a99;
$socialMediaTwitterBackgroundColor: #55acee;
$referralUrlCopyButtonBoxShadow: 0 1px 1px rgba(0, 0, 0, 0.4);
$referralUrlCopyButtonHeaderColor: rgba(0, 0, 0, 0.5);
$referralUrlCopyButtonBackgroundColor: #f2f2f2;
$referralUrlCopyButtonHoverBackgroundColor: #c4e9e9;
$referralUrlCopyButtonActiveBackgroundColor: #9abec9;

$shareModalSubheaderColor: #828282;
/* ----- Import ----- */
@import "_social-media-components";

/* ------ Grid ------ */
.col-3 {
  width: 210px;
  display: table-cell;
  vertical-align: text-top;
}

/* ------ General CSS ------ */

* {
  color: $fontColor;
  font-family: $fontFamily;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.text-align-center {
  text-align: center;
}

.fb-post-image {
}

.social-share-modal {
  position: relative;
  padding: 40px 0;
  margin: 5% auto;
  width: 700px;
  max-width: 700px;
  background: $paymentModalBackgroundColor;
  border-radius: 10px;
  box-shadow: $paymentModalBoxShadow;
}

.social-share-modal-header-section {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid $paymentModalHeaderDividerColor;
}

.social-share-modal-header {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}

.social-share-modal-cross-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  opacity: 0.3;
  cursor: pointer;
  background-image: url("chrome-extension://cbnaodkpfinfiipjblikofhlhlcickei/static/images/svg/cross-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.popover-image {
  position: absolute;
  right: 100px;
  width: 113px;
  height: 44px;
  background-image: url("chrome-extension://cbnaodkpfinfiipjblikofhlhlcickei/static/images/svg/popover.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.social-share-modal-cross-icon:hover {
  opacity: 0.5;
}

.social-share-modal-cross-icon:active {
  opacity: 0.6;
}

.social-share-modal-subheader {
  max-width: 520px;
  margin: 0 auto;
  padding: 10px 0;
  color: $shareModalSubheaderColor;
  font-size: 17px;
  line-height: 21px;
}

.social-share-modal-body-header {
  padding: 20px 0 0 0;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.social-share-modal-feature-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: $websiteMainColor;
}

.social-share-modal-body-container {
  max-width: 90%;
  margin: 20px auto;
}

.social-share-modal-tag {
  display: table-cell;
  vertical-align: middle;
  padding: 1px 5px;
  border: 2px solid $tagColor;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  color: $tagColor;
}

.social-share-modal-learn-more-button {
  margin-left: 25px;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  cursor: pointer;
}

.social-share-modal-learn-more-button > a {
  color: $textButtonMainFontColor;
}

.social-share-modal-learn-more-button:hover,
.social-share-modal-learn-more-button:active {
  text-decoration: underline;
}

.social-share-modal-subscribe-premium-link {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: $textButtonMainFontColor;
  cursor: pointer;
}

.social-share-modal-subscribe-premium-link > a {
  color: $textButtonMainFontColor;
}

.social-share-modal-subscribe-premium-link:hover,
.social-share-modal-subscribe-premium-link:active {
  text-decoration: underline;
}

.fb-post-image {
  background-image: url("chrome-extension://cbnaodkpfinfiipjblikofhlhlcickei/static/images/png/facebook-share-post.png");
  background-size: cover;
}

.cell-image.more-colors-image {
  background-image: url("chrome-extension://cbnaodkpfinfiipjblikofhlhlcickei/static/images/svg/more-colors.svg");
  height: 50px;
  margin-bottom: 4px;
}

.cell-image.nested-collections-image {
  background-image: url("chrome-extension://cbnaodkpfinfiipjblikofhlhlcickei/static/images/svg/nested-collections.svg");
}

.cell-image.export-premium-image {
  background-image: url("chrome-extension://cbnaodkpfinfiipjblikofhlhlcickei/static/images/png/export_premium.png");
}

.cell-image.collaborate-image {
  background-image: url("chrome-extension://cbnaodkpfinfiipjblikofhlhlcickei/static/images/png/collaborate.png");
}

.cell-image.image-clipping-image {
  background-image: url("chrome-extension://cbnaodkpfinfiipjblikofhlhlcickei/static/images/svg/image-clipping.svg");
}

.cell-image.more-storage-image {
  background-image: url("chrome-extension://cbnaodkpfinfiipjblikofhlhlcickei/static/images/svg/more-storage.svg");
  height: 54px;
}

.cell-image {
  width: 100%;
  height: 72px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ------- text button --------*/
.text-button {
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #00b8c2;
  background: #00b8c2;
  color: #00949a;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.11);
  transition: all 0.1s ease-in;
  text-align: center;
  cursor: pointer;
}

.text-button:hover {
  background: #00bfd2;
  color: #fff;
}

.text-button:active {
  background: #00b8c2;
  color: #fff;
}

.text-button.primary {
  margin: 0 auto;
  padding: 10px 12px;
  border: 1px solid #00b8c2;
  background: #00b8c2;
  color: #fff;
  font-size: 14px;
}

.text-button.primary:hover {
  background: #00bfd2;
}

.text-button.primary:active {
  background: #00b8c2;
  color: #fff;
}
