[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/shivanshxyz/Desktop/a.txt]
row=0
col=1

[/home/shivanshxyz/Desktop/E19CSE444_lab10.zip]
row=6
col=0

[/home/shivanshxyz/Desktop/conkyrc]
row=7
col=0

[/home/shivanshxyz/Desktop/bd-gruvbox.css]
row=4
col=0

[/home/shivanshxyz/Desktop/duvbox.css]
row=5
col=0

[/home/shivanshxyz/Desktop/Sahaaya-237064b06229e64891714d422a65789b5e7b749e]
row=8
col=0

[38EE4BEAEE4B9F4E]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/shivanshxyz]
row=3
col=0

