/* --- variables --- */
/* -- general --*/
@media print {
  .circle-buttons-wrapper {
    display: none;
  }

  .pdfViewer .page {
    border-image: none;
  }

  #viewerContainer {
    padding-top: 0 !important;
  }
}

.textLayer > div {
  opacity: 1;
}

.textLayer {
  opacity: 1;
  mix-blend-mode: multiply;
}

.hidden {
  display: none !important;
}

/* -- view container --*/
#viewerContainer {
  top: 0;
  padding-top: 55px;
  background: #525659;
}

/* --- main view ---- */
html[dir="ltr"] #outerContainer.sidebarOpen > #mainContainer {
  left: 0;
}

/* --- sidebar ---- */
#sidebarContainer {
  top: 0;
}

#sidebarContent {
  top: 0;
}

#thumbnailView {
  padding: 80px 40px 0 40px;
}

a:focus > .thumbnail > .thumbnailSelectionRing,
.thumbnail:hover > .thumbnailSelectionRing {
  background-color: rgba(0, 0, 0, 0.5);
}

.thumbnail.selected > .thumbnailSelectionRing {
  background-color: rgba(0, 0, 0, 0.5);
}

.thumbnailImage,
a:focus > .thumbnail > .thumbnailSelectionRing > .thumbnailImage,
.thumbnail:hover > .thumbnailSelectionRing > .thumbnailImage {
  opactiy: 1;
}

/* --- toolbar ---- */
#loadingBar {
  width: 100% !important;
}

.toolbar {
  position: fixed;
  top: 0;
  transition: top 0.15s ease-in-out;
}

#toolbarContainer,
.findbar,
.secondaryToolbar {
  height: initial;
}

html[dir="ltr"] #toolbarViewer,
html[dir="rtl"] #toolbarViewer,
#toolbarViewer {
  height: 55px;
  padding: 0 20px;
  background: #323639;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

html[dir="ltr"] #toolbarViewerLeft,
html[dir="rtl"] #toolbarViewerLeft,
#toolbarViewerLeft {
  position: absolute;
  top: 6px;
  left: 25px;
}

html[dir="ltr"] #toolbarViewerMiddle,
html[dir="rtl"] #toolbarViewerMiddle,
#toolbarViewerMiddle {
  top: 7px;
}

@media (max-width: 1040px) {
  #outerContainer.sidebarMoving #toolbarViewerMiddle,
  #outerContainer.sidebarOpen #toolbarViewerMiddle {
    padding-top: 7px;
  }
}

.toolbar-move-up {
  top: -55px;
}

html[dir="ltr"] #toolbarViewerRight,
html[dir="rtl"] #toolbarViewerRight,
#toolbarViewerRight {
  position: absolute;
  right: 25px;
  top: 6px;
}

html[dir="ltr"] .splitToolbarButton,
html[dir="rtl"] .splitToolbarButton,
.splitToolbarButton {
  position: absolute !important;
  top: 8px;
  left: 43%;
}

.splitToolbarButton {
  display: none;
}

#document-title {
  display: table-cell;
  vertical-align: middle;
  height: 45px;
  font-size: 16px;
  line-height: 45px;
  color: white;
}

.toggle-sidebar-button-wrapper {
  margin-right: 20px;
}

.toggle-sidebar-button-wrapper > input:checked + #toggle-sidebar-button {
  background: rgba(0, 0, 0, 0.4);
}

#toggle-sidebar-button {
  content: url(images/layout-icon-white.svg);
}

.rotate-right-button {
  content: url(images/md-rotate-right-white.svg);
}

.gistnote-account-button {
  content: url(images/w-logo.svg);
}

#download-button {
  content: url(images/md-download-white.svg);
}

#gistnote-print-button-wrapper {
  content: url(images/md-print-white.svg);
}

#outline-button-wrapper > input:checked + #outline-button,
#gistnote-account-button-wrapper > input:checked + #gistnote-account-button {
  background: rgba(0, 0, 0, 0.4);
}

.outline-button-selected {
  position: absolute;
  top: 10px;
  right: 10px;
  content: url(images/md-bookmark-white.svg);
  transition: all 0.2s ease;
  opacity: 0;
}

.outline-button-unselected {
  content: url(images/md-bookmark-border-white.svg);
  opacity: 1;
  transition: all 0.2s ease;
}

#outline-button-wrapper > input:checked + #outline-button > .outline-button-selected {
  opacity: 1;
}

#outline-button-wrapper > input:checked + #outline-button > .outline-button-unselected {
  opacity: 0;
}

#pageNumber {
  vertical-align: middle;
  background: none;
  border: none;
  margin-right: -4px;
  box-shadow: none;
  font-size: 18px;
}

#pageNumber:hover {
  background: rgba(0, 0, 0, 0.4);
}

#pageNumber:active,
#pageNumber:focus {
  background: rgba(0, 0, 0, 0.7);
}

#numPages {
  vertical-align: middle;
  font-size: 18px;
}

.navbar-icon-button {
  margin-right: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.navbar-icon-button:active {
  background: rgba(255, 255, 255, 0.2);
}

.navbar-icon-pressable-button {
  display: table-cell;
  vertical-align: middle;
  top: 6px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 1px;
  cursor: pointer;
}

/* --- circle buttons --- */
.circle-buttons-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.fullscreen-toggle-wrapper > input:checked + #fullscreen-toggle {
  content: url(images/md-fullscreen-exit.svg);
}

.circle-button {
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
  background: white;
  cursor: pointer;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-out;
  will-change: opacity, transform;
}

.circle-button:active {
  background: rgba(0, 0, 0, 0.05);
}

#fullscreen-toggle {
  width: 24px;
  height: 24px;
  margin-bottom: 30px;
  content: url(images/md-fullscreen.svg);
}

#zoom-in {
  width: 24px;
  content: url(images/md-add.svg);
  height: 24px;
}

#zoom-out {
  width: 24px;
  content: url(images/md-remove.svg);
  height: 24px;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: red;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: 0.3s ease-out;
}

/* ---- Text Button ---- */
.text-button {
  padding: 8px 12px;
  border-radius: 2px;
  border: 1px solid #00cdd8;
  background: #ddfff7;
  color: #00949a;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.text-button:hover {
  background: #7399c6;
  color: #ffffff;
}

.text-button:active {
  background: #009fa8;
  color: #ffffff;
}

/* ---- Dropdown ----- */
.dropdown-menu {
  display: none;
  z-index: 1000;
  background-color: white;
  border-radius: 4px;
  overflow-y: hidden;
  padding-bottom: 2px;
  width: 260px;
  opacity: 0;
  transition: all 0.1s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.dropdown-menu-show {
  display: block;
  opacity: 1;
}

#toolbarViewerRight > #outline-dropdown-menu {
  position: fixed;
  top: 53px;
  right: 15px;
}

.dropdown-menu-header {
  border-bottom: 1px solid #dbdbdb;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 14px 28px;
}

.dropdown-menu-item {
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.dropdown-menu-item:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-menu-item.disabled:hover,
.dropdown-menu-item.disabled:active {
  background-color: #ffffff;
  cursor: default;
}

.dropdown-menu-item-sub {
  padding: 7px 12px 7px 50px;
}

.dropdown-menu-item-icon-wrapper {
  position: absolute;
  left: 5px;
}

#outlineView {
  position: relative;
  width: initial;
  max-height: 400px;
  padding: 6px 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.outlineItem {
  position: relative;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 400;
  color: #343434;
  cursor: pointer;
}

.outlineItem > a {
  color: #343434;
}

.outlineItem:hover > a {
  color: #343434;
}

.outlineItemToggler:hover,
.outlineItemToggler:hover + a,
.outlineItemToggler:hover ~ .outlineItems,
.outlineItem > a:hover,
.attachmentsItem > button:hover {
  background-image: none;
  color: #343434;
  box-shadow: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.outlineItem > a,
.attachmentsItem > button {
  font-size: 15px;
  line-height: 24px;
}

.outlineItemToggler {
  color: black;
  opacity: 0.5;
}

.outlineItemToggler::before {
  content: url(images/md-keyboard-arrow-right.svg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

html[dir="ltr"] .outlineItemToggler.outlineItemsHidden::before {
  content: url(images/md-keyboard-arrow-right.svg);
  width: 20px;
  height: 20px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

html[dir="ltr"] .outlineItem > a {
  padding: 3px 0 6px 9px;
  margin-left: 7px;
}

html[dir="ltr"] .outlineItemToggler::before {
  right: -6px;
}

html[dir="ltr"] .outlineWithDeepNesting > .outlineItem,
html[dir="ltr"] .outlineItem > .outlineItems {
  margin-left: 10px;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.01);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/*---- Highlight Checkbox ----- */
.highlight-checkbox-label {
  display: table-cell;
  vertical-align: middle;
  width: 23px;
  height: 23px;
}

.highlight-checkbox-box {
  cursor: pointer;
}

label > input[class~="highlight-checkbox"] + .highlight-checkbox-box {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #bdbdbd;
  cursor: pointer;
}

.select-all-option-wrapper > label > input[class~="highlight-checkbox"] + .highlight-checkbox-box {
  position: relative;
  top: auto;
  left: auto;
}

label > input[class~="highlight-checkbox"] + .highlight-checkbox-box > .highlight-checkbox-image {
  display: none;
}

label > input[class~="highlight-checkbox"] + .highlight-checkbox-box > .highlight-checkbox-image-light {
  width: 18px;
  margin-top: 2px;
  margin-left: 0;
  opacity: 0.3;
  display: none;
}

label
  > input[class~="highlight-checkbox"]:not(:checked)
  + .highlight-checkbox-box:hover
  > .highlight-checkbox-image-light {
  display: block;
}

label > input[class~="highlight-checkbox"]:checked + .highlight-checkbox-box {
  background: #7399c6;
  border: 1px solid #7399c6;
}

label > input[class~="highlight-checkbox"]:checked + .highlight-checkbox-box > .highlight-checkbox-image {
  position: absolute;
  top: 2px;
  right: 1px;
  width: 18px;
  display: block;
}

/* ----- Popover Container ----- */
.popover-container {
  position: fixed;
  z-index: 500;
  width: 250px;
  left: 0;
  right: 0;
  top: 30%;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 20px;
  font-size: 15px;
  box-shadow: 1px 2px 30px 5px rgba(0, 0, 0, 0.5);
}

/* ----- dialog ----- */
/* ---- Error Wrapper ---- */
.loadingInProgress #errorWrapper {
  position: fixed;
  top: 30%;
  width: 300px;
  border-radius: 3px;
  padding: 20px;
  margin: 0 auto;
  background: white;
  color: black;
  box-shadow: 0px 3px 30px black;
}

#errorMessage {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

#errorMessageLeft {
  width: 100%;
  text-align: left;
}

#error-open-default-viewer {
  height: initial;
  display: block;
  max-width: 200px;
  margin: 10px auto 0 auto;
  text-align: center;
}

/* ---- Overlay Container ---- */
#overlayContainer > .container > .dialog {
  background-image: none;
}

.display-none {
  display: none;
}

.textLayer ::selection,
.textLayer ::-moz-selection,
div::-moz-selection,
div::selection,
::selection {
  background-color: #c4e1ff !important;
}

/* ----- File Upload ----- */
.file-upload-container {
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: #ffffff;
}

/*# sourceMappingURL=pdf_viewer.css.map */

#errorMoreInfo {
  background-color: #ffffff;
  color: black;
  padding: 3px;
  margin: 3px;
  width: 98%;
  height: 60px;
}
